/**
* CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
* Custom CSS
*/
body {
  font: 100% "Open Sans", sans-serif; }

h1 {
  font-weight: 600;
  font-size: 1.6em;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: white; }

h2 {
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; }

hr {
  width: 150px;
  margin-bottom: 30px; }

p {
  line-height: 1.6em; }

.wrapper {
  min-width: 300px;
  position: absolute;
  width: 100%;
  overflow: hidden; }

.text-wrap {
  text-align: center;
  margin: 0 10%; }

.title {
  height: 100px; }

.v-center {
  display: flex;
  align-items: center; }

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.ww-title {
  margin: 50px 0; }

a {
  text-decoration: none;
  color: white;
  font-size: .7em; }

header {
  position: fixed;
  width: 100%;
  min-width: 300px;
  height: 72px;
  z-index: 3; }
  header nav {
    display: none; }
  header .menu-button {
    position: fixed;
    top: 0;
    height: 40px;
    width: 40px;
    margin: 16px; }
  header .menu-button:hover {
    cursor: pointer; }
  header .logo {
    position: relative;
    width: 175px;
    margin: 0 auto; }
    header .logo img {
      height: 22px; }
  header .overlay {
    height: 72px;
    position: absolute;
    width: 100%;
    background-color: #282828;
    opacity: .9; }

.side-menu {
  position: fixed;
  top: 0;
  left: -60%;
  width: 60%;
  height: 100%;
  background-color: #282828; }
  .side-menu li {
    border-bottom: 1px solid black; }
    .side-menu li a {
      position: relative;
      display: block;
      padding: 15px; }

main .cover {
  background-image: url("../images/westwerk-office-1.jpg");
  background-position: 50% center;
  background-size: cover;
  height: 600px;
  width: 100%; }
  main .cover .overlay {
    position: absolute;
    background-color: #282828;
    height: 600px;
    width: 100%;
    opacity: .5; }
main .text-wrap {
  z-index: 1; }
main h1 {
  padding: 0 10%; }

.philosophy {
  height: 400px; }
  .philosophy h2 {
    font-weight: 800; }

.boise .box-pic {
  background-image: url("../images/boise-state.jpg"); }

.rush-river .box-pic {
  background-image: url("../images/rush-river.jpg"); }

.box-pic {
  background-size: cover;
  background-position: center top;
  height: 300px; }

.client-text {
  height: 400px;
  text-align: center;
  background-color: #35bfae;
  color: white; }
  .client-text img {
    margin-bottom: 10px;
    width: 90%; }
  .client-text h3 {
    margin-bottom: 20px;
    font-size: .8em; }

.careers {
  height: 300px;
  background-color: #53585a; }

.teal-button {
  background-color: #35bfae;
  justify-content: center;
  margin: 30px auto 0;
  width: 200px;
  height: 40px; }
  .teal-button a, .teal-button p {
    color: white;
    width: 100%;
    letter-spacing: 1.5px;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center; }
  .teal-button a:hover {
    cursor: pointer; }

.values h2 {
  font-weight: 700; }

.value-wrap {
  margin: 40px; }

.value-dropdown {
  background-color: #35bfae;
  margin-bottom: 2px;
  overflow: hidden; }
  .value-dropdown h3 {
    float: left;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 15px; }
  .value-dropdown img {
    height: 5px;
    float: right;
    margin: 24px 24px 24px 0; }

.value-text {
  display: none;
  background-color: #53585a;
  padding: 35px;
  color: white; }

.team {
  margin-bottom: 30px; }

.employee {
  position: relative;
  display: inline-block;
  width: 50%; }
  .employee img {
    width: 100%; }
  .employee .emp-info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .employee .emp-info .text-wrap {
      width: 100%;
      color: white; }
      .employee .emp-info .text-wrap h2 {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1.5em;
        text-transform: capitalize; }
      .employee .emp-info .text-wrap p {
        text-transform: uppercase;
        font-size: .8em; }
  .employee .emp-info:hover {
    opacity: 1;
    background-color: rgba(53, 191, 174, 0.8);
    cursor: pointer; }

footer {
  justify-content: space-between;
  background-color: #15181b;
  height: 100px; }
  footer .logo {
    margin-left: 10%; }
  footer .social-media {
    margin-right: 5%; }
    footer .social-media li {
      display: inline-block;
      margin-right: 25px; }
      footer .social-media li img {
        height: 25px; }

/**
* Tablet screen styling
*/
@media (min-width: 570px) {
  .sidebar, .menu-button {
    display: none; }

  .text-wrap {
    max-width: 520px;
    margin: 0 auto; }

  header .logo {
    float: left;
    margin-left: 12%; }
  header nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px; }
    header nav ul {
      float: right;
      height: 100%;
      width: 200px;
      margin-right: 12%; }
    header nav li {
      display: inline-block;
      margin: 0 10px; }
      header nav li a:hover {
        color: #35bfae; }

  main .cover {
    height: 500px; }
    main .cover .overlay {
      height: 500px; }

  .clients {
    height: 600px; }
    .clients .text-wrap {
      margin: 0 10%; }
      .clients .text-wrap img {
        width: 70%; }
      .clients .text-wrap p {
        font-size: 0.8em; }

  .client-text, .box-pic {
    width: 50%;
    height: 300px; }

  .boise .box-pic {
    float: left; }
  .boise .client-text {
    float: right; }

  .rush-river .box-pic {
    float: right; }
  .rush-river .client-text {
    float: left; }

  .employee {
    width: 33%; } }
/**
* Medium screen sizing
*/
@media (min-width: 820px) {
  h1 {
    font-size: 2em; }

  p {
    font-size: 1.4em; }

  .text-wrap {
    max-width: 720px; }

  .teal-button {
    width: 400px; }

  header nav ul {
    width: 300px; }
  header nav li {
    margin: 0 15px; }

  .value-dropdown {
    margin-bottom: 4px; }
    .value-dropdown h3 {
      padding: 25px;
      font-size: 1.2em; }

  .value-text p {
    font-size: 1.2em; }

  .employee {
    width: 25%; }

  footer .social-media li img {
    height: 15px; } }
/**
* Large screen sizing
*/
@media (min-width: 1020px) {
  .clients {
    height: 800px; }
    .clients .text-wrap p {
      font-size: 1em; }

  .client-text, .box-pic {
    height: 400px; } }

/*# sourceMappingURL=styles.css.map */
