@import 'reset';
@import 'variables';

/**
* Custom CSS
*/
body {
  font: 100% $font-stack;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: .9em;
}
hr {
  width: 100px;
  margin-bottom: 20px;
}
p {
  line-height: 1.6em;
}
.wrapper {
  min-width: 300px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.text-wrap {
  text-align: center;
  margin: 0 10%;
}

.v-center {
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  background-color: $w-grey;
  opacity: .8;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
  font-size: .7em;
}

header {
  position: fixed;
  width: 100%;
  min-width: 300px;
  height: 72px;
  z-index: 3;
  nav {
    display: none;
  }
  .menu-button {
    position: fixed;
    float: left;
    height: 40px;
    width: 40px;
    margin: 16px;
  }
  .menu-button:hover {
    cursor: pointer;
  }
  .logo {
    position: relative;
    width: 175px;
    height: 72px;
    margin: 0 auto;
    img {
      height: 22px;
      margin: 25px 0;
    }
  }
  .overlay {
    height: 72px;
  }
}

.side-menu {
  position: fixed;
  top: 0;
  left: -60%;
  width: 60%;
  height: 100%;
  background-color: $w-grey;
  li {
    border-bottom: 1px solid black;
    a {
      position: relative;
      display: block;
      padding: 15px;
    }
  }
}

main {
  .cover {
    background-image: url('../images/westwerk-office-1.jpg');
    background-position: 50% bottom;
    background-size: cover;
    height: 600px;
    width: 100%;
  }
  .overlay {
    background-color: $w-grey;
    height: 600px;
    width: 100%;
    opacity: .5;
  }
  .text-wrap {
    z-index: 1;
  }
  h1 {
    font-weight: bold;
    padding: 0 10%;
    color: white;
  }
}

.philosophy {
  height: 400px;
  h2 {
    font-weight: 800;
    text-transform: uppercase;
  }
}

.boise {
  .box-pic {
    background-image: url('../images/boise-state.jpg');
  }
}

.rush-river {
  .box-pic {
      background-image: url('../images/rush-river.jpg');
  }
}

.box-pic {
  background-size: cover;
  background-position: center top;
  height: 300px;
}

.client-text {
  height: 400px;
  text-align: center;
  background-color: $w-teal;
  img {
    height: 80px;
  }
}

/**
* Small screen styling
*/

@media (min-width: 570px) {
  .sidebar, .menu-button {
    display: none;
  }
  header {
    .logo {
      float: left;
      margin-left: 12%;
    }
    nav {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      height: 72px;
      ul {
        float: right;
        height: 100%;
        width: 200px;
        margin-right: 12%;
      }
      li {
        display: inline-block;
        margin: 0 2%;
      }
    }
  }
}
