$font-stack: 'Open Sans', sans-serif;
$background: white;
$nav-links: white;
$dark-grey: rgb(40, 40, 40);
$ww-grey: rgb(83, 88, 90);
$ww-teal: rgb(53, 191, 174);
$ww-teal-overlay: rgba(53, 191, 174, 0.8);
